## Preprocessing

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [18]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop('EIN', axis = 1)
application_df = application_df.drop('NAME', axis = 1)
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [21]:
# Check the number of unique values in each column
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df.loc[application_df['APPLICATION_TYPE'].isin(['T9','T13', 'T12', 'T2', 'T25', 'T14','T29','T15','T17'])]

print(application_types_to_replace['APPLICATION_TYPE'])

41        T2
66        T9
195       T9
196       T9
327      T13
        ...
34204     T9
34206     T9
34210     T9
34216    T15
34217    T15
Name: APPLICATION_TYPE, Length: 276, dtype: object

In [23]:
#application_types_to_replace = application_df.loc[application_df['APPLICATION_TYPE'].isin(['T9','T13', 'T12', 'T2', 'T25', 'T14','T29','T15','T17'])]

# Replace in dataframe
for app in application_types_to_replace['APPLICATION_TYPE']:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classification_types_to_replace = application_df['CLASSIFICATION'].value_counts()

print(classification_types_to_replace[classification_types_to_replace < 1883].index.tolist())

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classification_types_to_replace[classification_types_to_replace < 1883].index.tolist():
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [26]:
# One-hot encoding the 'APPLICATION_TYPE' column creates 9 new columns, one for each category
application_type_dummies = pd.get_dummies(application_df['APPLICATION_TYPE'])

In [28]:
# Convert categorical data to numeric with `pd.get_dummies`
classification_dummies = pd.get_dummies(application_df['CLASSIFICATION'])

In [30]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/Users/trupti/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [33]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

/var/folders/k3/29crq3tx23v635hzwr10k1sc0000gn/T/ipykernel_56549/2023052568.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(application_cat,1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [34]:
# Split our preprocessed data into our features and target arrays
y = application_df["APPLICATION_TYPE_T3"].values
X = application_df.drop(["APPLICATION_TYPE_Other","APPLICATION_TYPE_T10","APPLICATION_TYPE_T19","APPLICATION_TYPE_T3","APPLICATION_TYPE_T4","APPLICATION_TYPE_T5","APPLICATION_TYPE_T6","APPLICATION_TYPE_T7","APPLICATION_TYPE_T8"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

/var/folders/k3/29crq3tx23v635hzwr10k1sc0000gn/T/ipykernel_56549/1322382056.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["APPLICATION_TYPE_Other","APPLICATION_TYPE_T10","APPLICATION_TYPE_T19","APPLICATION_TYPE_T3","APPLICATION_TYPE_T4","APPLICATION_TYPE_T5","APPLICATION_TYPE_T6","APPLICATION_TYPE_T7","APPLICATION_TYPE_T8"],1).values

In [35]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [36]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

2022-11-11 21:46:59.379390: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 288

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 339
Trainable params: 339
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer
#  YOUR CODE GOES HERE

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From Z:\Travis\anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3520
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [38]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.2302 - accuracy: 0.9251
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1194 - accuracy: 0.9511
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1160 - accuracy: 0.9508
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1139 - accuracy: 0.9517
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1130 - accuracy: 0.9519
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1124 - accuracy: 0.9514
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1127 - accuracy: 0.9517
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1118 - accuracy: 0.9515
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1116 - accuracy: 0.9519
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1115 - accuracy: 0.9519
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1115 - accuracy: 0.9515
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1111 - accuracy: 0.9519
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1111 - accuracy: 0.9528
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1109 - accuracy: 0.9528
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1110 - accuracy: 0.9519
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1106 - accuracy: 0.9523
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1109 - accuracy: 0.9525
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1101 - accuracy: 0.9531
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1098 - accuracy: 0.9518
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1101 - accuracy: 0.9522
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1098 - accuracy: 0.9531
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1101 - accuracy: 0.9530
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1098 - accuracy: 0.9534
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1098 - accuracy: 0.9523
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1096 - accuracy: 0.9530
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1092 - accuracy: 0.9534
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1095 - accuracy: 0.9535
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1092 - accuracy: 0.9538
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1091 - accuracy: 0.9531
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1087 - accuracy: 0.9534
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1090 - accuracy: 0.9528
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1087 - accuracy: 0.9532
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1088 - accuracy: 0.9539
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1088 - accuracy: 0.9534
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1087 - accuracy: 0.9539
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1086 - accuracy: 0.9535
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1086 - accuracy: 0.9534
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1084 - accuracy: 0.9543
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1084 - accuracy: 0.9535
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1085 - accuracy: 0.9532
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1082 - accuracy: 0.9536
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1086 - accuracy: 0.9534
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1082 - accuracy: 0.9532
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1082 - accuracy: 0.9534
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1085 - accuracy: 0.9533
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1082 - accuracy: 0.9535
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1080 - accuracy: 0.9537
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1082 - accuracy: 0.9538
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1079 - accuracy: 0.9535
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1079 - accuracy: 0.9533
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1082 - accuracy: 0.9539
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1080 - accuracy: 0.9536
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1079 - accuracy: 0.9537
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1078 - accuracy: 0.9535
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1078 - accuracy: 0.9541
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1076 - accuracy: 0.9543
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1076 - accuracy: 0.9537
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1078 - accuracy: 0.9533
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1076 - accuracy: 0.9536
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1078 - accuracy: 0.9537
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1074 - accuracy: 0.9545
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1077 - accuracy: 0.9534
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1074 - accuracy: 0.9541
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1074 - accuracy: 0.9535
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1076 - accuracy: 0.9535
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1072 - accuracy: 0.9532
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1072 - accuracy: 0.9534
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1072 - accuracy: 0.9537
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1070 - accuracy: 0.9530
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1072 - accuracy: 0.9537
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1075 - accuracy: 0.9538
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1072 - accuracy: 0.9527
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1070 - accuracy: 0.9543
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.1071 - accuracy: 0.9535
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1069 - accuracy: 0.9536
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1070 - accuracy: 0.9539
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1067 - accuracy: 0.9534
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1071 - accuracy: 0.9534
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1070 - accuracy: 0.9543
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1069 - accuracy: 0.9534
Epoch 81/100

804/804 [==============================] - 2s 3ms/step - loss: 0.1071 - accuracy: 0.9539
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1066 - accuracy: 0.9541
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1070 - accuracy: 0.9528
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1068 - accuracy: 0.9536
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1068 - accuracy: 0.9541
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1067 - accuracy: 0.9536
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1065 - accuracy: 0.9542
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1068 - accuracy: 0.9541
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1067 - accuracy: 0.9532
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1066 - accuracy: 0.9540
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1068 - accuracy: 0.9537
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1066 - accuracy: 0.9538
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1065 - accuracy: 0.9535
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1065 - accuracy: 0.9539
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1064 - accuracy: 0.9539
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1064 - accuracy: 0.9542
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1062 - accuracy: 0.9542
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1065 - accuracy: 0.9537
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1064 - accuracy: 0.9539
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.1065 - accuracy: 0.9540

In [39]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.1065 - accuracy: 0.9515 - 536ms/epoch - 2ms/step
Loss: 0.10654639452695847, Accuracy: 0.9514868855476379

In [41]:
pip install pyyaml h5py

Requirement already satisfied: pyyaml in /Users/trupti/opt/anaconda3/lib/python3.9/site-packages (6.0)
Requirement already satisfied: h5py in /Users/trupti/opt/anaconda3/lib/python3.9/site-packages (3.6.0)
Requirement already satisfied: numpy>=1.14.5 in /Users/trupti/opt/anaconda3/lib/python3.9/site-packages (from h5py) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [43]:
# Save the entire model as a SavedModel.
!mkdir -p saved_model
nn.save('saved_model/my_model')

INFO:tensorflow:Assets written to: saved_model/my_model/assets